@mixin heading-text-style($letterSpacing: 1.5) {
  font-size: $font-size-2xl;
  font-weight: 400;
  letter-spacing: $letterSpacing;
}

.heading-primary {
  @include heading-text-style(35px);

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  //animation-delay: 2s;
  //animation-iteration-count: infinite;
}

.heading-primary-sub {
  font-size: $font-size-lg;
  font-weight: 700;
  letter-spacing: 7.5px;

  animation: moveInRight 1s ease-out;
}

.heading-secondary{
  font-size: $font-size-xl;
  text-transform: uppercase;
  font-weight: 700;

  display: inline-block;
  background-image: linear-gradient(to right, $light-primary, $dark-primary);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;

  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(16deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-bg-dark, 0.2);
  }
}

.hading-tertiary{
  font-size: $font-size-md;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph{
  font-size: $font-size-md;

  &:not(:last-child){
    margin-bottom: $spacing-lg;
  }
}