.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($light-primary, 0.8),
                  rgba($dark-primary, 0.8)
  ),
  url("../../assets/images/heroBg.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);


  .logoBox {
    position: absolute;
    top: $spacing-lg;
    left: $spacing-lg;

    .logo {
      height: 35px;
    }
  }

  .headingBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-xl;


    .textbox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $color-text-dark;
      text-transform: uppercase;

      backface-visibility: hidden;
    }

    .btnAnimation {
      animation: moveInButton 1s ease-out;
    }
  }
}
